<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.adminarea_realfood">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdminArea_RealFood">
        tools:replace="android:icon">

        <activity android:name=".Screen.DangNhap">

        </activity>

        <activity android:name=".Screen.QuenMatKhau"></activity>

        <activity android:name=".Screen.TrangChu"></activity>

        <activity android:name=".Screen.TaoTaiKhoanShipper"
            android:label="Tạo tài khoản shipper"
            android:parentActivityName=".Screen.DanhSachShipper"></activity>

        <activity android:name=".Screen.DanhSachShipper"
            android:label="Danh sách shipper"
            android:parentActivityName=".Screen.TrangChu">

        </activity>

        <activity android:name=".Screen.DanhSachLoaiSanPham"
                android:label="Loại sản phẩm"
                android:parentActivityName=".Screen.TrangChu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Screen.TaoLoaiSanPham"
                android:label="Tạo loại sản phẩm"
                android:parentActivityName=".Screen.DanhSachLoaiSanPham"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>
    </application>

</manifest>