<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.adminarea_realfood">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdminArea_RealFood">
        <activity
            android:name=".Screen.TaiKhoanNganHangAdmin"
            android:label="Tài khoản ngân hàng"
            android:parentActivityName=".Screen.TrangChu"></activity>
        <activity
            android:name=".Screen.ThongTinChiTietKhachHang"
            android:label="Thông tin chi tiết khách hàng"
            android:parentActivityName=".Screen.DanhSachKhachHang" />
        <activity
            android:name=".Screen.DanhSachKhachHang"
            android:label="Danh sách khách hàng"
            android:parentActivityName=".Screen.TrangChu" />
        <activity
            android:name=".Screen.SuaLoaiSanPham"
            android:label="Sửa loại sản phẩm"
            android:parentActivityName=".Screen.DanhSachLoaiSanPham" />
        <activity
            android:name=".Screen.SuaTaiKhoanAdmin"
            android:label="Sửa tài khoản"
            android:parentActivityName=".Screen.TrangChu" />
        <activity
            android:name=".Screen.ThongTinChiTietShop"
            android:label="Thông tin chi tiết"
            android:parentActivityName=".Screen.DanhSachShop" />
        <activity
            android:name=".Screen.DanhSachShop"
            android:label="Danh sách shop"
            android:parentActivityName=".Screen.TrangChu" />
        <activity android:name=".Screen.DangNhap">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Screen.QuenMatKhau" />
        <activity android:name=".Screen.TrangChu" />
        <activity
            android:name=".Screen.TaoTaiKhoanShipper"
            android:label="Tạo tài khoản shipper"
            android:parentActivityName=".Screen.DanhSachShipper" />
        <activity
            android:name=".Screen.DanhSachShipper"
            android:label="Danh sách shipper"
            android:parentActivityName=".Screen.TrangChu" />
        <activity
            android:name=".Screen.DanhSachLoaiSanPham"
            android:label="Loại sản phẩm"
            android:parentActivityName=".Screen.TrangChu" />
        <activity
            android:name=".Screen.TaoLoaiSanPham"
            android:label="Tạo loại sản phẩm"
            android:parentActivityName=".Screen.DanhSachLoaiSanPham" />
        <activity
            android:name=".Screen.ThongTinChiTietShipper"
            android:parentActivityName=".Screen.DanhSachShipper" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>
    </application>

</manifest>