<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adminarea_realfood">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdminArea_RealFood">

        <activity android:name=".DangNhap">

        </activity>
        <activity android:name=".QuenMatKhau"></activity>
        <activity android:name=".TrangChu"></activity>
        <activity android:name=".TaoTaiKhoanShipper"
            android:label="Tạo tài khoản shipper"
            android:parentActivityName=".DanhSachShipper"></activity>
        <activity android:name=".DanhSachShipper"
            android:label="Danh sách shipper"
            android:parentActivityName=".TrangChu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>